
<html data-ng-app="EstimateModule">

@{
    ViewBag.Title = "CreateEstimate";
}
<head>
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
<script src="~/Scripts/angular-aria.js"></script>
<script src="~/Scripts/angular-aria.min.js"></script>
<script src="~/Scripts/angular-route.js"> </script>
<script src="~/Scripts/MyScripts/Module.js"></script>
<script src="~/Scripts/MyScripts/Services.js"></script>
<script src="~/Scripts/MyScripts/Controller.js"></script>
<script src="~/Scripts/MyScripts/dirPagination.js"></script>
</head>
<body data-ng-controller="AddEstimate_Controller" >
      
            <div data-ng-view>
            </div>
</body>
</html>

